@use "./common" as *;

.App {
  text-align: center;

  h1 {
    font-family: $title-text;
    font-weight: bolder;
    font-size: 5em;
  }

  h2,
  h3,
  h4 {
    font-family: $body-text;
  }

  li {
    font-family: $body-text;
    font-size: 1em;
    padding-top: 1em;
    list-style-type: none;
  }

  .nav-link {
    color: $brown;
    font-size: 1.25em;
    margin-right: 1em;
  }

  .nav-link:hover {
    font-weight: bold;
  }

  .navbar-toggler {
    color: $brown;
  }

  .btn {
    @include button;
  }

  .btn:hover {
    background-color: $yellow;
  }

  .row {
    padding-bottom: 2em;
  }
}

#homeLogo {
  max-height: 50%;
  max-width: 50%;
}

#map {
  height: 600px;
  border: 5px solid;
  border-color: $yellow;
}
